[flake8]
# Ignore specific error codes (comma-separated) or individual error messages
ignore = E302,D202,E722

# Set the maximum line length
max-line-length = 120

# Exclude specific directories or files from linting (comma-separated globs)
exclude = .git,__pycache__,venv,src/test_*

# Show source code for each error, if available
show-source = True

# Enable statistics summary after running flake8
statistics = True

# Count the number of occurrences of each error/warning code
count = True

# Enable the flake8-docstrings plugin
enable-extensions = D

# Configure the docstring conventions you want to check (e.g., Google-style)
docstring-convention = pep257